<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>

  <body>
    <header>
      <h1>可视化展板-ECharts</h1>
      <div class="showTime">当前时间：2020年3月17-0时54分14秒</div>
      <script>
        var t = null;
        t = setTimeout(time, 1000); //開始运行
        function time() {
          clearTimeout(t); //清除定时器
          dt = new Date();
          var y = dt.getFullYear();
          var mt = dt.getMonth() + 1;
          var day = dt.getDate();
          var h = dt.getHours(); //获取时
          var m = dt.getMinutes(); //获取分
          var s = dt.getSeconds(); //获取秒
          document.querySelector(".showTime").innerHTML =
            "当前时间：" +
            y +
            "年" +
            mt +
            "月" +
            day +
            "-" +
            h +
            "时" +
            m +
            "分" +
            s +
            "秒";
          t = setTimeout(time, 1000); //设定定时器，循环运行
        }
      </script>
    </header>
    <section class="mainbox">
      <div class="column">
        <div class="panel bar">
          <h2>各区二手房关注度图</h2>
          <div class="chart" id="gz"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel line">
          <h2>电梯-</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel pie">
          <h2>饼形图-岳凯</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
          <div class="panel pie">
          <h2>地铁-</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="column">
        <div class="map">
            <h2>重庆地图</h2>
          <div class="chart"></div>
          <div class="map1"></div>
          <div class="map2"></div>
          <div class="map3"></div>
        </div>
          <div class="panel bar1">
          <h2>柱状图-岳凯</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
          <div class="panel bar1">
          <h2>套房面积大小情况</h2>
          <div class="chart" id="chart_16"></div>
          <div class="panel-footer"></div>
        </div>
      </div>
      <div class="column">
        <div class="panel bar1">
          <h2>各区装修情况与单价间关系图</h2>
          <div class="chart" id="zx"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel liuline">
          <h2>重庆主城区二手房均价</h2>
          <div class="chart"></div>
          <div class="panel-footer"></div>
        </div>
        <div class="panel liubar">
          <h2>重庆主城区户型占比</h2>
          <div class="chart" onclick="window.location.href='/huxing'"></div>
          <div class="panel-footer"></div>
        </div>
          <div class="panel pie1">
          <h2>楼层位置情况</h2>
          <div class="chart" id="chart_13"></div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </section>

    <script src="../static/js/flexible.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/china.js"></script>
    <script src="../static/js/myMap.js"></script>
    <script src="../static/js/floor.js"></script>
    <script src="../static/js/house_size.js"></script>
    <script src="../static/js/gz.js"></script>
  </body>
</html>
